body {
    font: normal 1em/2em Verdana, sans-serif;
    margin: 0 20%;
}

h1 {
    font: italic bold 2.5rem Futura, sans-serif;
    color: darkolivegreen;
}

small {
    color: gray;
}

img {
    width: 770px;
    height: 300px;
    display: block;
    margin-left: 0;
    margin-right: auto;
}

p {
    text-align: center;
}