body {
    background-color: #fdf6e3;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 40px;
}

img {
    width: 200px;
    margin-bottom: 20px;
}

h1 {
    color: #4a2c2a;
    margin-bottom: 30px;
}

h2 {
    color: #b23a2b;
    margin-top: 30px;
}

p {
    max-width: 600px;
    margin: 10px auto;
    line-height: 1.6;
}
